/*    Barra de navegacion  */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  text-align: center ;
  align-items: center;
  justify-content: space-between;
}

/*  Google Fonts   */
.rubik-dirt-regular {
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
}

/*  Estilos generales   */

.h1 {
  font-size: 3rem;
  color: #615151;

}

.seccion-oscura {
  color: white;
  background-color: #1b1d1f;
}

.seccion-clara {
  color: #1b1d1f;
  background-color: #f5f6f7;
}

.seccion-titulo {
  text-align: center;
  padding: 15px 0;
  font-size: 2rem;
  font-family: "Rubik Dirt", cursive;
}

.seccion-texto {
  font-size: 1.2rem;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e
}

.texto-negro {
  color:#1b1d1f
}

.texto-blanco {
  color: white;
}

.btn-secondary {
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
}

/*  Seccion Hero  */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-perfil{
  width: 300px;
  height: 350px;
  margin: 20px auto;
}

.rounded-circle {
  border-radius: 50% !important;
}

.hero-principal h2 {
  font-size: 1.2rem;
  color: #615151;
}

/*  Seccion Sobre Mi   */
.sobre-mi {
  height: 600px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/*  Seccion Experiencia  */
.experiencia {
  padding: 40px 40px 60px 40px;
}
.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in;
}
.experiencia .columna:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #8080804d;
  background-color: #242426;
  color:white;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i{
  font-size: 2.5rem;
  color: #f5f6f7;
  background-color: #1b1d1f;
  padding: 8px 19px;
  border-radius: 50%;
}

.badges-contenedor{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}


/*  Seccion Proyectos  */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease;
}

.proyecto-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 30px;
  margin: 10px;
}


.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.proyecto {
  position: relative;
}
/*  Seccion habilidades  */

.habilidades {
  padding: 50px 0;
}

.habilidades-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.habilidades img {
  height: 70%;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease;
  object-fit: contain
}

.descripcion {
  font-size: 1.2rem;
  text-align: center;
}

/* Efecto hover */
.habilidades img {
  transform: scale(1.1);
}

/*  Seccion Contacto  */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
  font-size: 1.5rem;
}

.contacto .rectangulo{
  background-color: darkgrey;
  margin-top: -5rem;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;

}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  padding: 20px;
  color:#f5f6f7;
  font-size: 1.2rem;
}

/*  Footer  */
footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;

}

.footer-texto {
  font-size: 1.2rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: cursive;
}

.icono-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.icono-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.icono-redes-sociales a:hover {
  background-color: white;
  border: 2px solid darkgrey;
}

.footer-texto-pie {
  font-size: 0.8rem;
  padding: 20px;
  margin-bottom: 30px;
  color:antiquewhite;
 }

/*    Logo- Adaptable responsivo  */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i{
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }


@media (max-width: 767px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .col-lg-3 {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    max-width: 25%;
  }
}
