/*    Barra de navegacion  */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  text-align: center ;
  align-items: center;
  justify-content: space-between;
}

/*  Google Fonts   */
.rubik-dirt-regular {
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
}

.h1 {
  font-size: 1.5rem;
  color: #615151;

}

/*  Seccion Hero  */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-perfil{
  width: 300px;
  height: 350px;
  margin: 20px auto;
}

.rounded-circle {
  border-radius: 50% !important;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}




/*    Logo- Adaptable responsivo  */

@media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
