/*    Barra de navegacion  */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  text-align: center ;
  align-items: center;
  justify-content: space-between;
}

/*  Google Fonts   */
.rubik-dirt-regular {
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
}

/*  Estilos generales   */

.h1 {
  font-size: 3rem;
  color: #615151;

}

.seccion-oscura {
  color: white;
  background-color: #1b1d1f;
}

.seccion-clara {
  color: #1b1d1f;
  background-color: #f5f6f7;
}

.seccion-titulo {
  text-align: center;
  padding: 15px 0;
  font-size: 2rem;
  font-family: "Rubik Dirt", cursive;
}

.seccion-texto {
  font-size: 1.2rem;
}


/*  Seccion Hero  */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-perfil{
  width: 300px;
  height: 350px;
  margin: 20px auto;
}

.rounded-circle {
  border-radius: 50% !important;
}

.hero-principal h2 {
  font-size: 1.2rem;
  color: #615151;
}

/*  Seccion Sobre Mi   */
.sobre-mi {
  height: 600px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/*  Seccion Experiencia  */
.experiencia {
  padding: 40px;
}

.experiencia .row div {
  height: 250px;
  background-color: purple;
  border: 3px solid orange;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i{
  font-size: 2.5rem;
  color: #f5f6f7;
  background-color: #1b1d1f;
  padding: 8px 19px;
  border-radius: 50%;
}

/*    Logo- Adaptable responsivo  */

@media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
