/* Estilos Globales */
html {
  scroll-behavior: smooth;
}

/* Contenedor principal */
.container {
  width: 80%;
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  transition: background-color 0.3s ease;
}

/* Estilos del Header */
header {
  padding: 130px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a; /* Gris oscuro */
  color: #f1f1f1; /* Gris claro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideInLeft 1s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h4 {
  margin: 0;
  color: #e5e6e4;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-top: 20px;
}

.navbar a {
  text-decoration: none;
  color: #d0d0d0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
  color: #f1f1f1;
  transform: scale(1.1);
}

.navbar a:focus {
  outline: 2px solid #f1f1f1;
}

.navbar a:active {
  color: #ff6f61;
  transform: scale(0.95);
}

/* Estilos de la Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.img-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.info {
  text-align: center;
}

.contact-buttons a {
  color: #847577;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-buttons a:hover {
  color: #0073b1; /* Color de LinkedIn */
  transform: scale(1.2);
}

.contact-buttons button {
  background-color: #0073b1; /* Color de fondo */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-buttons button:hover {
  background-color: #005a8c;
  transform: scale(1.05);
}

.contact-buttons button:active {
  background-color: #004b72;
}


